/* You can add global styles to this file, and also import other style files */
@import './app/variables.scss';
@import './app/mixins.scss';

@font-face {
    font-family: Lato;
    src: url('assets/fonts/Lato-Regular.ttf') format("truetype");
}

html {
    body {
        margin: 0;
        padding: 0;
        background-color: $body-background-color;
    }
}

html,
body {
    height: 100%;
}