$login-background-url: url('/assets/images/login-background.jpg');
$login-form-background: rgba(241, 241, 241, 0.65);
$login-button-color: #080910;
$login-font-color: #000;
$placeholder-color: #A8AFB5;
