$red: #CF000C;
$white: #fff;
$black: #000;

$login-background-url: url('/assets/images/login-background.jpg');
$login-form-background: rgba(241, 241, 241, 0.9);
$login-button-color: #080910;
$login-font-color: $black;
$placeholder-color: #A8AFB5;
$invalid-text-color: $red;
$invalid-placeholder-color: $red;
$invalid-input-border-color: $red;
$login-button-hover-color: #59608d;
$body-background-color: #F4F5F6;
$header-background-color: $white;
$header-item-text-color: $black;