<p-dropdown class="dropdown" [options]="getLanguages()" [(ngModel)]="selectedlanguage.value" 
            optionLabel="value" (ngModelChange)="languageChange()"
            >   
    <ng-template let-item pTemplate="selectedItem">
        <img src="../../../../../../assets/images/{{item.label}}.png" />
        <span translate>{{item.label}}</span>
    </ng-template>
    <ng-template let-items pTemplate="item">
        <div class="ui-helper-clearfix d-flex">
            <img src="../../../../../../assets/images/{{items.label}}.png" />
            <div translate>{{items.label}}</div>
        </div>
    </ng-template>
</p-dropdown>
