<div class="login-container">
    <div class="login-form-wrapper">
        <form (ngSubmit)="login(form)" #form="ngForm">
            <h1 class="login-title" translate>DATA_MINING_COMBINER</h1>
            <div>
                <span class="field-title" translate>EMAIL</span>
                <input pInputText type="email" name="email" [(ngModel)]="credits.email" />
            </div>
            <div>
                <span class="field-title" translate>PASSWORD</span>
                <input pInputText type="password" name="password" [(ngModel)]="credits.password" />
            </div>
            <a class="forgot-link" href="" translate>FORGOT_PASSWORD</a>
            <dmc-button type="submit" [label]="'LOGIN' | translate"></dmc-button>
        </form>
    </div>
</div>